{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
        <table>
            <thead>
            <tr>
                <td>Texte</td>
                <td>Price</td>
                <td>Place</td>
                <td>Discipline</td>
            </tr>
            </thead>
            <tbody>
                {% for advert in listAdvert %}
                <li>{{ advert.id }}</li>
                <tr>
                    <td>{{ advert.text }}</td>
                    <td>{{ advert.price }}</td>
                    <td>{{ advert.place }}</td>
                    <td>{{ advert.idDiscipline.name }}</td>
                    <td><a class="btn bg-danger text-light" href="/myAdvert/remove/{{ advert.id }}">Supprimer</a></td>
                    <td><a class="btn bg-warning" {#href="/myAdvert/update/{{ advert.id }}"#}>Modifier</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}

