{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ici toutes les annonces !</h1>
            <p class="lead">En développement !</p>
        </div>
    </div>
    <form method="POST" class="bg-light p-3 m-5 border round" action="/form">
        <fieldset >
            <legend class="font-weight-bold text-success" style="text-align: center">Filtrer les annonces</legend>
            <div style="text-align: center" class="row">
                <div class="col-sm-4">
                    <label class="text-uppercase font-weight-bold text-primary" for="checkbox">Discipline :</label>
                    {% for discipline in disciplines %}
                        <input class="checkbox text-capitalize" type="checkbox" id="checkbox" name="disciplinesCheckbox" value="{{ discipline.name }}"> {{ discipline.name }}
                    {% endfor %}
                </div>
                <div class="col-sm-4">
                    <label class="text-uppercase font-weight-bold text-primary" for="Pricerange">Prix</label>
                    <input type="range" id="Pricerange" class="custom-range" value="-1" name="price" oninput="textRange.value = Pricerange.value">
                    <span class="badge badge-primary"><output id="textRange"></output></span>
                </div>
                <div class="col-sm-4 text-uppercase font-weight-bold text-primary">
                    <label for="dateChoice">Date publication</label>
                    <input class="form-control" type="date"id="dateChoice" name="dateChoice">
                </div>
            </div>
            <div style="text-align: center"> <br><br> <button  class=" btn btn-success" >Rechercher !</button></div>
        </fieldset>
    </form>

    <div class="d-flex flex-column pt-4 justify-content-center align-items-center h-100">
        <div class="card-deck" style="width: 100%" align="center" >
            {% for advert in adverts %}
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        {% for discipline in advert.disciplines %}
                            <h5 class="card-title">{{ discipline.name }}</h5>
                        {% endfor %}
                    </div>
                    <div class="card-body text-capitalize">
                        <p class="card-text">{{ advert.text }}</p>
                        <h6 class="card-title">{{ advert.place }}</h6>
                        <h6 class="card-title">{{ advert.price }} euros</h6>
                        <h6 class="card-title"><a href="/otherUserSpace/{{ advert.idUser.id }}">{{ advert.idUser.login }}</a></h6>
                    </div>
                    <div class="card-footer">
                        <a class="btn bg-danger text-light" href="/myAdvert/remove/{{ advert.id }}">Supprimer</a>
                        <a class="btn bg-warning" href="/myAdvert/update/{{ advert.id }}">Modifier</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
