{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ici toutes les annonces !</h1>
            <p class="lead">En développement !</p>
        </div>
    </div>
    <div class="d-flex flex-column  justify-content-center align-items-center h-100">
        <div class="card-deck" style="width:80%" align="center" >
            {% for advert in adverts %}
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        {% for discipline in advert.disciplines %}
                            <h5 class="card-title">{{ discipline.name }}</h5>
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ advert.text }}</p>
                        <h6 class="card-title">{{ advert.place }}</h6>
                        <h6 class="card-title">{{ advert.price }} euros</h6>
                        <h6 class="card-title"><a href="/otherUserSpace/{{ advert.idUser.id }}">{{ advert.idUser.login }}</a></h6>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <a class="btn btn-warning text-dark m-1" href="/tchat" role="button">Répondre</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}




