{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ici toutes les annonces !</h1>
            <p class="lead">En développement !</p>
        </div>
    </div>
    <form method="POST" action="/form">
        <fieldset>
            <legend style="text-align: center">Filtrer les annonces</legend>
            <div style="text-align: center" class="row">
                <div class="col">
                    <label for="checkbox">Discipline</label>
                    {% for discipline in disciplines %}
                        <input type="checkbox" id="checkbox" name="disciplinesCheckbox" value="{{ discipline.name }}"> {{ discipline.name }}
                    {% endfor %}
                </div>
                <div class="col">
                    <label for="Pricerange">Prix</label>
                    <input type="range" id="Pricerange" class="custom-range" value="-1" name="price" oninput="textRange.value = Pricerange.value">
                    <span class="badge badge-primary"><output id="textRange"></output></span>
                </div>
                <div class="col">
                    <label for="dateChoice">Date publication</label>
                    <input type="date"id="dateChoice" name="dateChoice">
                </div>
            </div>
            <div style="text-align: center"> <br><br> <button  class=" btn btn-primary" >Filtrer</button></div>
        </fieldset>
    </form>
    <center>
        <br>
    <button type="button" class="btn btn-danger" onclick="">Reinitialiser les filtres</button>
        <br>
        <br>
    </center>
    <div class="container">
        <div class ="div row flex" style="">
            {% for advert in adverts %}
                {% set val = 0 %}
                <div class ="col-3">
                    <div class="card text-white bg-dark mb-3 text-center" >
                        <div class="card-header" >
                            {% for discipline in advert.disciplines %}
                                <h5 class="card-title"><span class="badge badge-primary">{{ discipline.name }}</span></h5>
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ advert.text }}</p>
                            <h6 class="card-title">{{ advert.place }}</h6>
                            <h6 class="card-title">{{ advert.price }} euros</h6>
                            <h6 class="card-title"><a href="/otherUserSpace/{{ advert.idUser.id }}">{{ advert.idUser.login }}</a></h6>
                        </div>
                        {% if (is_granted('ROLE_USER')) %}
                            {% for advertuser in advutilisateur %}
                                {% if advertuser.idUser == advert.idUser %}
                                    {% set val = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if val == 0 %}
                                <a class="btn btn-warning text-dark m-1" href="/tchat/{{ advert.IdUser.login }}_{{ app.user.login }}" role="button">Répondre</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

